body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background: linear-gradient(to left top, #CC6847, #A83C64);
  height: 120vh;
  width: 100vw;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

html { font-size: 16px; }

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h1, h2, h3, p {
  text-align: center;
}

button {
  background: rgba(50, 50, 50, 0.25);
  border: 0;
  border-radius: 10px;
  height: 50px;
  width: 30%;
  color: white;
  font-size: 1.5rem;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.timerContainerLabels {
  width: 100%;
  margin: 2vh 0vw 0vh 0vw;
}

.timerContainerButtons {
  width: 25%;
  margin-top: 2vh;
}

#timerContainer {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#timerControls {
  margin:5vh 0vw 5vh 0vw;
}

#mainTimer {
  background: rgba(50, 50, 50, 0.15);
  padding: 0.5vh 0vw 0.5vh 0vw;
  border-radius: 10px;
}

#clock {
  position: relative;
  width: 50vw;
  margin: auto;
  margin-top: 10vh;
  padding: 2vh 5vw 3vh 5vw;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  #clock {
    width: 80vw;
  }

  button {
    font-size: 2rem;
  }
}


@media (max-width: 460px) {
  #clock {
    margin-top: 0;
    height: 100vh;
  }

  #mainTimer {
    height: 40vh;
  }
}

@media (max-height: 800px) {
  h1 {
    font-size: 3rem
  }
  
  h2 {
    font-size: 2rem
  }

  h3 {
    font-size: 1.5rem
  }

  #clock {
    margin-top: 0;
    height: 100vh;
  }

  #mainTimer {
    height: 40vh;
  }
}

@media (max-height: 600px) {
  h1 {
    font-size: 2rem
  }
  
  h2 {
    font-size: 1.5rem
  }

  h3 {
    font-size: 1.25rem
  }

  #clock {
    margin-top: 0;
    height: 100vh;
  }

  #mainTimer {
    height: 40vh;
  }
}